#book {
    width:50vw;
    height:50vh;
  /*   outline:1px solid black; */
    position:absolute;
    left:25vw;
    top:25vh;
    perspective:75vw;
  }
  
  #book:before {
    width:1%;
    height:100%;
    background:#222;
    content:'';
    position:absolute;
    left:49%;
    top:0;
    box-shadow:0px 10px 10px rgba(0,0,0,.75);
    outline:1px solid black;
  }
  
  .img1 {
    max-width: 250px;
    max-height: 300px;
    padding-top: 30px;
}
.img2 {
  max-width: 300px;
  max-height: 270px;
  padding-top: 40px;
  -webkit-transform:rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
}
.img3 {
  max-width: 270px;
  max-height: 300px;
  padding-top: 40px;
  
}
.img4 {
  max-width: 280px;
  max-height: 280px;
  padding-top: 40px;
  -webkit-transform:rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
.img5 {
  max-width: 280px;
  max-height: 300px;
  padding-top: 30px;
  
}
.img6 {
  max-width: 280px;
  max-height: 280px;
  padding-top: 40px;
  -webkit-transform:rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
.img7 {
  max-width: 250px;
  max-height: 310px;
  padding-top: 25px;
  
}
  .page {
    width:50%;
    height:100%;
    background:radial-gradient(circle at 0% 100%, #777, #ddd 70%);
    outline:1px solid black;
    box-shadow:5px 10px 10px rgba(0,0,0,.15);
    position:absolute;
    left:50%;
    top:0;
    transition:z-index .01s linear 1s, transform 2s linear;
    transform-origin:0% 50%;
    z-index:5;
    cursor:pointer;
        
    font-family:cursive;
    text-align:center;
    line-height:50vh;
  }
  
  /* #page5 {
    transform-origin:-1% 50% !important;
  } */
  
  .front, .back {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
      
    font-family:cursive;
    text-align:center;
    line-height:50vh;
    
    opacity:0;
    transition:opacity .1s linear 1s;
  }
  .front {
    opacity:1;
  }
  .back {
    transform:scaleX(-1);
  }
  
  input {
    visibility:hidden;
  }
  
  label {
    width:100%;
    height:100%;
    z-index:99;
    position:absolute;
    left:0;
    top:0;
    margin:0;
    padding:0;
  /*   pointer-events:none; */
  /*   visibility:hidden; */
  /*   background:red; */
  }
  
  input:checked + .page {
    transform:rotateY(-180deg); 
  }
  
  input:checked + .page .front {
    opacity:0;  
  }
  input:checked + .page .back {
    opacity:1;  
  }
  #eight:checked + .page {
    z-index:8;
  }
  #seven:checked + .page {
    z-index:7;
  }
  #six:checked + .page {
    z-index:6;
  }
  #five:checked + .page {
    z-index:5;
  }
  #four:checked + .page {
    z-index:4;
  }
  #three:checked + .page {
    z-index:3;
  }
  #two:checked + .page {
    z-index:2;
  }
  #one:checked + .page {
    z-index:1;
  }
  
  body {
    width:100vw;
    height:100vh;
    overflow:hidden;
    background-color:azure;
    background-image:linear-gradient(-45deg, white, black);
  }
  
  /* interior pages styles */
  #page1 .front {
    font-size:2vh;
    letter-spacing:2vh;
    line-height:50vh;
    font-weight:900;
    text-align:right;
    background:radial-gradient(circle at 70% 50%, black 50%, #222 40%);
    color:magenta;
    animation:cover 1s linear infinite;
  }
  @keyframes cover {
    20% { color:lime }
    40% { color:dodgerblue }
    60% { color:gold }
    80% { color:cyan }
  }
  
  #page1 .back {
    font-size:20px;
    color:white;
    text-shadow: 1px 2px cyan;
    background:#222;
    animation:a 3s linear infinite;
  }
  @keyframes a {
    45% { color:white; }
    50% { color:#222; }
    55% { color:white; }
  }
  
  #page2 .front {
    font-size:25vh;
    font-family:cursive;
    font-weight:900;
    background: dodgerblue;
  animation:L 10s linear infinite;
  }
  @keyframes L {
    50% { color:dodgerblue; background:white; }
  }
  
  #page2 .back {
    font-size:20px;
    font-weight:100;
    font-family:cursive;
    
    background:lightgrey;
    color:black;
    
  }
  
  @keyframes p {
    80% { text-shadow:13px 13px 0px white, 16px 16px 0px; } 
  }
  
  #page3 .front {
    background:#222;
    color:lime;
    font-size:25vh;
    font-weight:900;
    font-family:serif;
    overflow:hidden;
  }
  #page3 .front:before {
    content:'';
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    
    background-size:.5vh .5vh;
    background-position:-.5vh;
    animation:h 15s linear infinite;
  }
  @keyframes h {
    100% { background-position:.5vh 0%; }
  }
  #page3 .front:after {
    content:'';
    width:100%;
    height:100%;
    position:absolute;
    top:-1px;
    left:-10px;
    color:#222;
    text-shadow:-1px 0px lime, -1px -1px lime, -1px 1px lime;
  }
  
  #page3 .back {
    background:#222;
    color:white;
    font-size:15px;
    font-weight:900;
    font-family:cursive;
    
    overflow:hidden;
  }
  
  #page3 .back:before {
    content:'A';
    width:100%;
    height:100%;
    text-align:center;
    line-height:17vh;
    position:absolute;
    left:0;
    top:0;
    transform:scaleY(-1);
    opacity:.25;
    animation:aa 1s linear infinite;
  }
  @keyframes aa {
    50% { left:5px } 
  }
  #page3 .back:after {
    content:'';
    width:100%;
    height:20vh;
    text-align:center;
    position:absolute;
    left:0;
    bottom:-2px;
    background:linear-gradient(to top, #222 50%, transparent);
  }
  
  #page4 {
    overflow:hidden;
    background:white;
    
  }
  #page4 .front {
    width:100%;
    height:20vh;
   
    }
  
  
  
  #page4 .back {
    height:calc(100% + 10px);
    background: lightgrey;
  
  
  background-size: 110px 50vh;
  background-repeat: repeat-x;
    color:white;
    font-size:15px;
    font-weight:900;
    font-family:cursive;  
    text-shadow:-1px -1px #000, 1px -1px #000, 1px 1px #000, -1px 1px #000;
    animation:bob 10s linear infinite;
  }
  
  @keyframes bob {
    25% { top:-10px }
    50% { top:0px; }
    75% { top:-10px; }
  }
  
  
  
  #page5 .front {
    color:gold;
    font-size:25vh;
    font-weight:900;
    font-family:serif;
    background:#222;
    text-shadow:24px 24px purple;
    animation:slide 10s linear infinite;
    }
  
  @keyframes slide {
    25% { text-shadow:-24px 24px purple; }
    50% { text-shadow:-24px -24px purple; }
    75% { text-shadow:24px -24px purple; }
    100% { text-shadow:24px 24px purple; }
  }
  
  #page5 .back {
    font-size:20px;
    color:white;
    text-shadow: 1px 2px grey;
    background:#222;
    animation:a 3s linear infinite;
  }
  @keyframes a {
    45% { color:white; }
    50% { color:#222; }
    55% { color:white; }
  }

  #page6 .front {
    font-size:25vh;
    font-family:serif;
    font-weight:900;
    background: dodgerblue;
  animation:L 10s linear infinite;
  }
  @keyframes L {
    50% { color:dodgerblue; background:white; }
  }
  
  #page6 .back {
    font-size:20px;
    font-weight:100;
    font-family:cursive;
    
    background:lightgrey;
    color:black;
   
  }
  
  @keyframes p {
    50% { text-shadow:13px 13px 0px white, 16px 16px 0px; } 
  }

  #page7 {
    overflow:hidden;
    background:white;
    
  }
  #page7 .front {
    width:100%;
    height:20vh;
   
    }
  
  
  
  #page7 .back {
    height:calc(100% + 10px);
    background: lightgrey;
  
  
  background-size: 110px 50vh;
  background-repeat: repeat-x;
    color:white;
    font-size:15px;
    font-weight:900;
    font-family:cursive;  
    text-shadow:-1px -1px #000, 1px -1px #000, 1px 1px #000, -1px 1px #000;
    animation:bob 10s linear infinite;
  }
  
  @keyframes bob {
    25% { top:-10px }
    50% { top:0px; }
    75% { top:-10px; }
  }
  
  #page8 .front {
    color:gold;
    font-size:25vh;
    font-weight:900;
    font-family:serif;
    background:rgb(221, 111, 129);
    text-shadow:24px 24px purple;
    animation:slide 10s linear infinite;
    }
  
  @keyframes slide {
    25% { text-shadow:-24px 24px purple; }
    50% { text-shadow:-24px -24px purple; }
    75% { text-shadow:24px -24px purple; }
    100% { text-shadow:24px 24px purple; }
  }
  
  #page8 .back {
    font-size:2vh;
    letter-spacing:2vh;
    line-height:50vh;
    font-weight:900;
    text-align:left;
    background:radial-gradient(circle at 30% 50%, black 50%, #222 40%);
    color:magenta;
    padding-left:2vh;
    animation:cover 10s linear infinite;
  }